/* Calendar Styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}


.calendar {
  width: 90vw;
  height: 90vh;
  padding: 30px;
  font-family: "Noto Serif JP", serif;
  background-color: #1D6AEC;
  border-radius: 0px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
  color: #333;
  display: flex;
  flex-direction: column;
}


/* Container Styles */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.caltitle, .inblock, .calbar {
  flex: 1;
  text-align: center;
}

/* Title Styles */
.caltitle {
  font-size: 42px;
  font-weight: bold;
  display: inline-block;
  text-align: left;
  margin-left: 5px;
}

/* Inline Block Styles */
.inblock {
  width: 100px;
  font-size: 12px;
  letter-spacing: 2px;
  display: inline-block;
  text-align: right;
  margin-top: -2px;
}

/* Button Bar Styles */
.calbar {
  font-size: 20px;
  letter-spacing: 1px;
  text-align: right;
  margin-right: 14px;
  margin-left: 10px;
  display: inline-block;
}

/* Date Styles */
.date {
  font-size: 6px;
  text-align: center;
  margin-top: -5px;
  margin-bottom: -10px;
  color: #354c52;
}

.space {
  height: 10px;
}

/* Day of the Week Styles */
.days-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  margin-bottom: 20px;
}

.day-of-week {
  padding: 5px;
}

/* Day Styles */
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 6px;
  flex: 1 1 auto;
  min-height: 0;
}

.day {
  border: 1px solid #ddd;
  background-color: white;
  color: #333;

  padding: 8px;

  border-radius: 0px;
  font-size: 20px;
  font-weight: 600;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.highlight {
  background-color: #354c52;
  border: 1px solid #354c49;
  color: white;
}

/* Clock Styles */
.clock {
  display: inline-block;
  padding: 2%;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: -3px;
  color: #777; /* Light grey */
}

#clock-left {
  padding-left: 10px;
  font-weight: bold;
  display: inline-block;
  text-align: left;
}

#clock-right {
  padding-right: 10px;
  font-weight: bold;
  display: inline-block;
  text-align: right;
}

/* Text Button Styles */
#prev-month, #next-month {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 19px;
  margin-left: -8px;
  margin-right: -8px;
}

#japanese-month {
  font-size: 16px;
}

#fullDate1 {
  font-weight: lighter !important;
}

#fullDate2 {
  font-weight: bold !important;
}

.highlight2 {
  font-weight: bold;
}
